User name: <%= @user.name %><br>
<h3>Events hosted by you:</h3><br>
<ul>
  <% @hostedevents.each do |event| %>
    <li><%= event.name %></li>
  <% end %>
</ul>

<h3>Events previously attended by you:</h3><br>
<ul>
  <% @previously_attended_events.each do |event| %>
    <li><%= event.name %></li>
  <% end %>
</ul>

<h3>Upcoming events you are registered for:</h3><br>
<ul>
  <% @upcoming_events.each do |event| %>
    <li><%= event.name %></li>
  <% end %>
</ul>