<h2>Past events:</h2>
<ul>
  <% @past_events.each do |event| %>
    <li><%= event.name %></li>
  <% end %>
</ul>
<h2>Upcoming events:</h2>
<ul>
  <% @upcoming_events.each do |event| %>
    <li><%= event.name %></li>
  <% end %>
</ul>
<% if session[:current_user_id] %>
  <h2>Events attended by you</h2>
  <ul>
    <% @attended_events.each do |event| %>
      <li><%= event.name %></li>
    <% end %>
  </ul>
  <h2>Events available to you</h2>
  <ul>
    <% @unattended_events.each do |event| %>
      <li><%= event.name %></li>
    <% end %>
  </ul>
<% end %>
